
#img_article{
    display: flex;
    width: 70%;
    justify-content: center;
    background-color: rgb(43, 42, 42);
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.imgexe{
    border-radius: 50%;
    margin-top: 10px;
    width: 50%;
    margin-bottom: 10px;
}
#summary{
    
    width: 30%;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   
}

#summary ul {
    list-style: none;
    
}
#summary ul li a {
    font-size: 2vw;
    color: black;
    

}
#section1{
    display: flex;
    flex-direction:row ;
}
h2{

 font-size: 2.5vw;
 margin-bottom: 20px;
}
#borda {
    border: 5px solid black;
    display: flex;
    height: 60%;
    width: 60%;
    border-left: 15px solid rgb(0, 0, 0);
}
#box-sumario{
    width: 100%;
    
    
}
#box-sumario {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
#box-margin {
    margin-right: 4px;
    height: 100%;
    width: 10%;
    background-color: rgb(182, 181, 181);
}
.box-devs{
   display: flex;
   border-top: 2px solid black;
}
.integrantes{
    width: 70%;
    
}
#info-dev{
    width: 70%;
    padding-top: 30px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.img-dev{
   
    width:30%;
    padding-bottom: 10px;
    padding-top: 10px;
}
#h3-devs{
    font-size: 3vw;
    border-top: 2px solid #000;
    text-align: center;
    padding: 10px;
}
.text-info-dev{
    font-size: 2vw;
}
.contact-devs{
    color: #000;
    font-size: 2vw;
    background-color: rgb(233, 232, 248);
    width: 30%;
    border:2px solid #000;
    text-align: center;

}
footer{
    display: flex;
    background-color: rgb(68, 67, 67);
    margin-top: 20px;
    padding: 10px;
    align-items: center;
    flex-direction: column;
    border-top: 2px solid #000;;
}
footer a{
    font-size: 20px;
    margin: 5px;
    color: white;
}
#section2{
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 890px) {
    #section1{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   
}