.title_index{

    color: rgb(238, 238, 238);
    padding: 2px;
    background-color: rgb(98, 98, 99);
    display: flex;
    justify-content: center;
    font-size: 50px;
    border-bottom: 1px solid #000;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
}

.info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: whitesmoke;

}
.info p{
    margin: 10px;
    flex-direction: column ;
    font-size: 25px;

}

#media {
    width: 50%;
    margin-top: 10px;
}
footer{
    display: flex;
    background-color: rgb(68, 67, 67);
    margin-top: 20px;
    padding: 10px;
    align-items: center;
    flex-direction: column;
    border-top: 2px solid #000;;
}
footer a{
    font-size: 20px;
    margin: 5px;
    color: white;
}
small {
    position:relative;
    

}
@media only screen and (max-width: 890px) {
    .info{
        flex-direction: column;
        align-items: center;
    }
}