.pg1 {
    font-family: sans-serif;
    margin-left: 20px;
}
h1{
    font-size: 50px;
    text-align: center;
    background-color: rgb(114, 111, 111);
    color: white;
    padding: 10px;
    border:solid 5px rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Times New Roman', Times, serif;
}
h2, h3, h4{
    margin-left: 10px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titlepg_subt {
    font-size: 40px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.p1 {
    margin-left: 10px;
    font-size: 25px;
    margin-bottom: 30px;
}
.page {
    padding-top: 10px;
}
.imghtml{ 
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    z-index: 0;
}
.ulcenter {
    margin-left: 10px;
    list-style: none;
    margin-top: 10px;
}
.ulcenter li{
    font-size: 25px;
    margin-top: 3px;
}
.imgstru{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    z-index: 0;
}
.otherpg{
    background-color: rgb(179, 179, 179);
    color: rgb(0, 0, 0);
    padding: 5px;
    font-size: 25px;
    border: 3px dashed rgb(95, 94, 94);
    display: flex;
    justify-content: center;

}
.imgtim{
    position: relative;
    z-index: 0;
    left: 10px;
    
}
b{
    margin-left: 10px;
}
.img {
    margin-left: 10px ;
    margin-top: 10px;
    width: 80%;

}
dt {
    font-size: 25px;
}
dd {
    font-size: 20px;

}

